{% extends 'base_version.html' %}
{% block title %}联机代理升级{% endblock %}
{% block title_rollback %}联机代理版本回滚{% endblock %}
{% block title_upgrade %}联机代理版本升级{% endblock %}
{% block my_script %}
<script src="/static/js/jquery.cookie.js"></script>
<script>

    var csrftoken = $.cookie('csrftoken');
    console.log(csrftoken);
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $("#rollback_form input[type='text']").on('focus', function () {
        $(this).css('border-color', '');

    })
    $("#update_form input[type='text']").on('focus', function () {
        $(this).css('border-color', '');

    })
    $("button#rollback_btn").on('click', function () {
        //<input class="col-md-1 form-control" name="method" type="text" value="version_rollback"/>
        $.post(
            "{% url 'version:ChMap' %}",
            $("form#rollback_form").serialize(),
            function (callback) {
                // 从字符串中，解析出JSON对象
                var data = JSON.parse(callback);
                if (data.status) {
                    $("textarea#rollback_text").text(data.data);
                } else {
                    $("#rollback_form input[type='text']").css('border-color', 'rgb(222,97,94)');
                    $("textarea#rollback_text").text(data.error);
                }
                ;

            });
    });

    $("button#update_btn").on('click', function () {
        var form = new FormData(document.getElementById("update_file"));
        console.log(form)
        $.ajax({
            type: "POST",
            url: "{% url 'version:ChMap' %}",
            data: form,
            processData: false,
            contentType: false,
            success: function (callback) {
                // 从字符串中，解析出JSON对象
                var data = JSON.parse(callback);
                if (data.status) {
                    $("textarea#update_text").text(data.data);
                } else {
                    $("#rollback_form input[type='text']").css('border-color', 'rgb(222,97,94)');
                    $("textarea#update_text").text(data.error);
                }
            },
            error: function (data) {
                console.log(data)

            }
        });
    })
</script>
{% endblock %}

