{% extends 'base.html' %}
{% block title %}日终任务管理{% endblock %}
{% block right %}
<script type="text/javascript">
  $(document).ready(function(){
      if($("#message_p").html()){
        $("#message_wg").show();
      }
  });
</script>

<div class="king-layout6-content">
    <h3 class="page-header text-center text-success">日终任务管理库</h3>
  <div class="col-md-11" style="margin:10px 30px " >
    <div class="panel panel-primary">
      <div class="panel-body">
        <form  class="form-inline"  method="post"  enctype="multipart/form-data"role="form">
          {% csrf_token %}

             <div class="form-group" >
                 <select class="form-control" name='option'>
                     <option value="id">ID查询</option>
                     <option value="time">日期查询</option>
                </select>
                <!--<label class="control-label">ID查询:</label>-->
                <input  type="text"  size="35" class="form-control"  name="content" >
            </div>

          <button type="submit" class="col-md-offset-1 btn btn-primary " name="" id="execute" value="execute">执行</button>
          <button type="submit" class=" btn btn-danger " name="" id="cancel" value="cancel">取消</button>
        </form>
      </div>
    </div>
  </div>

   <div class="col-md-10 alert alert-danger alert-dismissible" id="message_wg" hidden="hidden" role="alert" style="margin:0 45px" >
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <p id="message_p" >{{ pg2manage_txt }}{{ msg }}<p>
   </div>


  <div class="col-md-11" style="margin:10px 30px ">

      <div class="panel panel-primary ">
          <div class="panel-heading">
              <span>日终查询状态</span>
          </div>
          <table class="table table-bordered">
              <thead>
              <tr class="success">
                  <th class="text-center">命令号</th>
                  <th class="text-center">用户组</th>
                  <th class="text-center">表名</th>
                  <th class="text-center">中文描述</th>
                  <th class="text-center">命令</th>
                  <th class="text-center">执行信息</th>
                  <th class="text-center">日终开始时间</th>
                  <th class="text-center">开始时间</th>
                  <th class="text-center">操作</th>
              </tr>
              </thead>
              <tbody>

              {% for col_nm in ret %}
              <tr>

                  <td class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;{{col_nm.0}}&nbsp;&nbsp;</td>
                  <td class="text-center">{{col_nm.1}}</td>
                  <td class="text-center">{{col_nm.2}}</td>
                  <td class="text-center">{{col_nm.3}}</td>
                  <td class="text-center">{{col_nm.4}}</td>
                  <td class="text-center">{{col_nm.5}}</td>
                  <td class="text-center">{{col_nm.6}}</td>
                  <td class="text-center">{{col_nm.7}}</td>
                  <td class="text-center">
                    <input type="button" class=" btn btn-success btn-xs text-center" name="restart" id="{{col_nm.0}}|{{col_nm.6}}" value="再次执行"/>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{%block my_script%}
    <script src="/static/js/jquery.cookie.js"></script>
    <script>
        var csrftoken = $.cookie('csrftoken');
        console.log(csrftoken);
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $("input[name='restart']").click(function () {
	    var arr =  new Array();
            var str = this.id
	    console.log(str)
	    arr=str.split('|');
	    var Id=arr[0]
	    var Dedate=arr[1]	
	    console.log(str)
            console.log(Id)
            console.log(Dedate)
            $.ajax({
                type: "POST",
                url: "{% url 'oms:reSelect' %}",
                data: {'Id': Id,'Dedate':Dedate},
                dataType: "json",
                cache: false,
                async: false,
                success: function (data) {
                    alert("操作完毕，已经开始执行！")
                },
                error: function (data) {
                    alert("再次执行失败")
                }
            });
        });
    </script>
{%endblock%}
