{% extends 'base.html' %}
{% block title %}ssh远程命令{% endblock %}
{% block right %}
    <div class="king-layout6-content">
        <form class="form-horizontal form-border" method="post" enctype="multipart/form-data"
              action="/remote_exec/" style="margin: 30px 0">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-3 control-label">目标主机</label>
                <div class="col-md-6">
                    <input type="text" class="form-control"  placeholder="IP:端口:账号:密码" name="host" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">远程命令</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="command" >
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-8 col-md-10">
                    <button type="submit" class="btn btn-primary " name="">执行</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">返回结果</label>
                <div class="col-md-6 stype=overflow:scroll">
                    <textarea class="form-control" rows="25">{{ mret }}</textarea>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
