{% extends 'base.html' %}
{% block title %}主机配置管理{% endblock %}
{% block link_js %}
<link href="/static/css/skin/blue.css" rel="stylesheet">
<script src="/static/js/icheck.js"></script>

{% endblock %}
{% block right %}

<div class="king-layout6-content">
    <h4 class="page-header col-md-12 text-center text-info">主机配置选择</h4>
    <div class="col-md-9  col-md-offset-1">
        <div class="panel panel-primary">

            <div class=" alert alert-danger alert-dismissible" id="message_wg" role="alert" hidden="hidden">

                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <p id="message_p">
                <p>
            </div>
        </div>



            {#<p>请输入两个数字</p>#}
            {#<form action="/add/" method="get">#}
            {#    a: <input type="text" id="a" name="a"> <br>#}
            {#    b: <input type="text" id="b" name="b"> <br>#}
            {#    <p>result: <span id='result'></span></p>#}
            {#    <button type="button" id='sum'>提交</button>#}
            {#</form>#}

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">选择执行任务的主机</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs" role="tablist">
                <li class="{% ifequal group_name 'chredis' %}active{% endifequal %}">
                    <a href="?gg=chredis"><span class="">reids服务</span>
                    </a>
                </li>
                <li class="{% ifequal group_name 'chdb' %}active{% endifequal %}">
                    <a href="?gg=chdb"><span >数据代理</span></a>
                </li>
                <li class="{% ifequal group_name 'chmap' %}active{% endifequal %}">
                    <a href="?gg=chmap"><span>联机服务</span></a>
                </li>
                <li class="{% ifequal group_name 'chelk' %}active{% endifequal %}">
                    <a href="?gg=chelk"><span>ELK服务</span></a>
                </li>
                <li class="{% ifequal group_name 'chmq' %}active{% endifequal %}">
                    <a href="?gg=chmq"><span >流水服务</span></a>
                </li>
            </ul>
                    <form class="form-horizontal form-border" method="post" name="dm_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- List group -->
                        <div>
                            <div style="height:100px;">
                            <ul class="list-group">
                                {% for host_add_list in host_add_lists.object_list %}
    {#                            {% for host in hosts %}#}
                                    <li class="list-group-item"><input type="checkbox" name="hostaddip" value="{{ host_add_list.addip }}">&nbsp;
                                        &nbsp;&nbsp;<a href="">{{ host_add_list.addip }}</a></li>
    {#                            {% endfor %}#}
                                {% endfor %}
                            </ul>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-7 col-md-6">
                                      <button type="submit" class="col-md-offset-8 btn btn-primary " name="submit1"
                                            id="select_host">
                                        提交
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div style="height:15px;"></div>
                        <div class="panel-footer" style="height:80px;">
                            <ul class="pagination pagination-sm">
                                {% if host_add_lists.has_previous %}
                                    <li class="">
                                        <a href="?{{ host_add_lists.previous_page_number.querystring }}" aria-label="Previous">
                                            <span aria-hidden="true">上一页</span></a>
                                    </li>
                                {% endif %}
                                {% for page in host_add_lists.pages %}
                                    {% if page %}
                                        {% ifequal page host_add_lists.number %}
                                        <li class="active"><a class="current page">{{ page }}<span class="sr-only">(current)</span></a>
                                        </li>
                                        {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% else %}
                                    ...
                                    {% endif %}
                                {% endfor %}

                                {% if host_add_lists.has_next %}
                                <li>
                                    <a href="?{{ host_add_lists.next_page_number.querystring }}" class="next">
                                        下一页
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </form>


                    <div class=" alert alert-danger alert-dismissible" id="message_dg" role="alert" hidden="hidden">
                        {#                        <div class=" alert alert-danger alert-dismissible" id="message_wg" role="alert" >#}
                        <button type="button" class="close" data-dismiss="alert"><span
                                aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <p id="message_d">
                        <p>
                    </div>

                </div>
            </div>

            <div class="panel panel-primary ">
                <div class="panel-heading">
                    <h3 class="panel-title">删除主机</h3>
                </div>
                <div class="panel-body">
                   <div class="col-md-12">
                       <table class="table table-bordered table-hover">
                            <thead>
                                <ul class="nav nav-tabs" role="dd_tablist">
                                    <li class="col-md-9 text-center text-success"><strong>主机IP</strong></li>
                                    <li class="col-md-3 text-center text-success"><strong>操作</strong></li>
                                </ul>
                            </thead>
                            <tbody>
                                {% for delete_ip in host_ip %}
    {#                        {% for all_host_ip in all_host_ips.object_list %}#}
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="col-md-9 text-center">
                                        <a>{{ delete_ip.selectip }}</a>
                                    </li>
                                    <li class="col-md-3 text-center ">
                                        <a style="color: red" href="?sid={{delete_ip.id}}">删除</a>
                                    </li>
                                </ul>
    {#                        {% endfor %}#}
                                {% endfor %}
                            </tbody>

                       </table>


                   </div>
                </div>
            </div>
    {#            <div class="panel-footer">#}
    {#                <nav>#}
    {#                    <ul class="pagination pagination-sm">#}
    {#                        {% if all_host_ips.has_previous %}#}
    {#                        <li>#}
    {#                            <a href="?{{ all_host_ips.previous_page_number.querystring }}" aria-label="Previous">#}
    {#                                <span aria-hidden="true">上一页</span>#}
    {#                            </a>#}
    {##}
    {#                        </li>#}
    {#                        {% endif %}#}
    {#                        {% for delete_page in all_host_ips.pages %}#}
    {#                            {% if delete_page %}#}
    {#                                {% ifequal delete_page all_host_ips.number %}#}
    {#                                <li><a class="current page" style="color: tan">{{ delete_page }}</a></li>#}
    {#                                {% else %}#}
    {#                                <li><a href="?{{ delete_page.querystring }}" class="page">{{ delete_page }}</a></li>#}
    {#                                {% endifequal %}#}
    {#                            {% else %}#}
    {#                            ...#}
    {#                            {% endif %}#}
    {#                        {% endfor %}#}
    {##}
    {#                        {% if all_host_ips.has_next %}#}
    {#                        <li>#}
    {#                            <a href="?{{ all_host_ips.next_page_number.querystring }}" class="next">#}
    {#                                下一页#}
    {#                            </a>#}
    {#                        </li>#}
    {#                        {% endif %}#}
    {#                    </ul>#}
    {#                </nav>#}
    {#            </div>#}
    {#        </div>#}

    </div>
</div>
{% endblock %}
{% block my_script %}
<script>


</script>


{% endblock %}
