{% extends 'base.html' %}
{% block title %}主机信息维护{% endblock %}
{% block link_js %}
<style type="text/css">
    * {
        font-family: 微软雅黑;
    }
</style>

{% endblock %}
{% block right %}
<div class="king-layout6-content">


    <h3 class="page-header col-md-12 text-center text-success">虚拟主机信息一览表</h3>

    {# 虚拟主机信息表#}


    <div class="col-md-12">
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <span>主机信息</span>
            </div>
            <div class="panel-body">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="{% ifequal host_group '' %}active {% endifequal %} "><a href="?gg="><span>全部</span></a>
                    </li>
                    <li class="{% ifequal host_group 'chredis' %}active{% endifequal %}"><a href="?gg=chredis"><span
                            class="">reids服务</span></a></li>
                    <li class="{% ifequal host_group 'chdb' %}active{% endifequal %}"><a
                            href="?gg=chdb"><span>数据代理</span></a></li>
                    <li class="{% ifequal host_group 'chmap' %}active{% endifequal %}"><a
                            href="?gg=chmap"><span>联机服务</span></a></li>
                    <li class="{% ifequal host_group 'chelk' %}active{% endifequal %}"><a
                            href="?gg=chelk"><span>ELK服务</span></a></li>
                    <li class="{% ifequal host_group 'chmq' %}active{% endifequal %}"><a
                            href="?gg=chmq"><span>流水服务</span></a></li>
                </ul>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="success">
                        <th class="text-center">主机ID</th>
                        <th class="text-center">主机组</th>
                        <th class="text-center">主机名</th>
                        <th class="text-center">CPU</th>
                        <th class="text-center">内存</th>
                        <th class="text-center">IP地址</th>
                        <th class="text-center">运行状态</th>
                        <th class="text-center">上架时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for host_info in allhost.object_list %}
                    <tr>
                        <td class="text-center">{{ host_info.id }}</td>
                        <td class="text-center">{{ host_info.group }}</td>
                        <td class="text-center"><a href="">{{ host_info.hostname }}</a></td>
                        {% if host_info.cpu == 1 %}
                        <td class="text-center">8 核</td>
                        {% elif host_info.cpu == 2 %}
                        <td class="text-center">16核</td>
                        {% else %}
                        <td class="text-center">32核</td>
                        {% endif %}
                        {% if host_info.memory == 1 %}
                        <td class="text-center">16G</td>
                        {% elif host_info.memory == 2 %}
                        <td class="text-center">32G</td>
                        {% else %}
                        <td class="text-center">64G</td>
                        {% endif %}
                        <td class="text-center"><a href="http://{{ host_info.addip }}:5000/{{ host_info.group }}">{{ host_info.addip }}</a></td>
                        {% if host_info.status == 0 %}
                        <td class="text-center ">正常运行</td>
                        {% elif host_info.status == 1 %}
                        <td class="text-center danger">故障处理中</td>
                        {% else %}
                        <td class="text-center warning">停止运行</td>
                        {% endif %}
                        <td class="text-center">{{ host_info.add_time }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <nav>
                    <ul class="pagination pagination-sm">
                        {% if allhost.has_previous %}
                        <li>
                            <a href="?{{ allhost.previous_page_number.querystring }}" aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>

                        </li>
                        {% endif %}
                        {% for page in allhost.pages %}
                        {% if page %}
                        {% ifequal page allhost.number %}
                        <li><a class="current page">{{ page }}</a></li>
                        {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                        {% else %}
                        ...
                        {% endif %}
                        {% endfor %}

                        {% if allhost.has_next %}
                        <li>
                            <a href="?{{ allhost.next_page_number.querystring }}" class="next">
                                下一页
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div>

    </div>
    {% endblock %}
