{% extends 'base.html' %}
{% block title %}后台首页{% endblock %}
{% block link_js %}
<style type="text/css">
    * {
        font-family: 微软雅黑;
    }
</style>
{% endblock %}
{% block right %}
    <div class="king-layout6-content">
        <section style="padding:0 15px">
            <ol class="breadcrumb"
                style="margin-bottom:0;border-bottom:1px solid #eee;background:none;border-radius:0;padding-left:5px;">
                <li id='breadcrumb-2'><i class="fa fa-dashboard"></i> <a href="/index">后台首页</a></li>
                <li id='breadcrumb-3'></li>
            </ol>
        </section>
        <section class="king-content" id="king-content1">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 >欢迎使用新晨自动化运维平台</h3> <span>现在时间：{{ datetime }}</span> </div>
                <div class="panel-body">
                    <h5><strong>说明:</strong></h5>
                    <h5>
                        <ol>
			<li style="margin:5px">python语言开发,OS版本linux；</li>
			<li style="margin:5px">基于ansible，需要安装ansible相关组件。</li>
			<li style="margin:5px">虚拟机资源 -- 显示虚拟机资源明细，可借助链接直接登陆主机，但网页终端不支持中文</li>
			<li style="margin:5px">日常运维   -- 发送批量命令，使用mycat查询数据，连接pg管理库查询数据，日中任务查询和操作。</li>
			<li style="margin:5px">版本升级   -- 根据用户组分块升级</li>
			<li style="margin:5px">服务启停   -- 选择配置，启停服务</li>
			<li style="margin:5px">DB监控     -- 现在只有redis监控，pg监控操作需要进一步完善。 </li>

                        </ol>
                    </h5>
                </div>
                <div class="panel-footer ">
                    <p class="text-right">鸣谢：  彭程(北京) 卢俊卿(北京)</p>
                </div>
            </div>

        </section>
        {#                 <section class="king-content" id="king-content1">#}
        {#            <div class="panel panel-default ijobs-innerbox" style="padding:20px;min-height:300px;">{{LayoutContent}}</div>#}
        {#          </section>#}
    </div>




{% endblock %}
