{% extends 'base.html' %}
{% block title %}数据处理升级{% endblock %}
{% block right %}

<div class="king-layout6-content">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="page-header text-center text-info">数据处理版本回滚</h3>
        <div class="form-group has-success">
        <form class="form-inline" role="form" id="rollback_form">
            {% csrf_token %}
            <label  class="control-label" >版本号：</label >
            <div class="form-group">
                <select class="form-control" name='group'>
                    {% for version_num in version_list %}
                        <option name="roll_choice_vers" value="{{ version_num }}">{{version_num}}</option>
                    {% endfor %}
                </select>
            </div>

            <label  class="col-md-offset-1 control-label" >主机范围：</label >
            <div class="form-group">
                <div class="col-md-6 input-group">
                  <input class="col-md-2 form-control" name="start_host" type="text" placeholder="0-10">
                  <div class="input-group-addon">——</div>
                  <input class="col-md-1 form-control" name="end_host" type="text" placeholder="0-10">
                </div>
            </div>

            <div class="form-group">
               <button type="button" class="btn btn-primary " id="rollback_btn">回滚</button>
            </div>

        </form>

         <blockquote></blockquote>
{#            <input class="form-control" type="text" placeholder="Readonly input here…" readonly>#}
         <div class=" alert alert-info" id="message_dg" role="alert">
            <p id="message_d">主机范围：</p>
        </div>

         <div>
            <div>
                <label class="col-md-3 control-label"><h4 class="text-info"><span>回滚过程 :</span></h4></label>
            </div>
            <div class="stype=overflow:scroll">
                <textarea class="form-control" rows="8" id="rollback_text">{{ autodeploy_yybs }}</textarea>
            </div>
        </div>

        <div><h3 class="page-header text-center text-info">数据处理版本升级</h3></div>
        <form class="form-inline" role="form" id="update_form">
            {% csrf_token %}
            <div class="form-group">
                <label class="" for="name">版本名：</label>
                <input type="text" class="form-control" id="name" name="v_name" placeholder="请输入名称">
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputfile">文件输入</label>
                <input type="file" id="inputfile" name="ver_file_obj">
            </div>

            <blockquote></blockquote>
            <div class="form-group">
                <label  class="control-label" >主机范围：</label >
                <div class="col-md-6 input-group">
                  <input class="form-control" type="text" name="start_host" placeholder="0-10">
                  <div class="input-group-addon">——</div>
                  <input class="form-control" type="text" name="end_host" placeholder="0-10">
                </div>
            </div>

            <div class="col-md-offset-1 form-group">
               <button type="button" class="btn btn-primary " id="update_btn">升级</button>
            </div>
        </form>

        <div>
            <div>
                <label class="col-md-3 control-label"><h4 class="text-info"><span>升级过程 :</span></h4></label>
            </div>
            <div class="stype=overflow:scroll">
                <textarea class="form-control" rows="8" id="update_text">{{ autodeploy_yybs }}</textarea>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block my_script %}
    <script>
        $("button#rollback_btn").on('click',function () {
            //<input class="col-md-1 form-control" name="method" type="text" value="version_rollback"/>
            $.post(
                "{% url 'version:ChDb' %}",
                $("form#rollback_form").serialize(),
                function (callback) {
                    $("textarea#rollback_text").text(callback)
                }
            )
        });
        $("button#update_btn").on('click',function () {
            $.post(
                    "{% url 'version:ChDb' %}",
                    $("form#update_form").serialize(),
                    function (callback) {
                        $("textarea#update_text").text(callback)
                    }
            )
        })
    </script>
{% endblock %}
