{% extends 'base.html' %}
{% block title %}主机配置管理{% endblock %}
{% block link_js %}

{% endblock %}
{% block right %}

<div class="king-layout6-content">
    <div class="col-md-9  col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">添加主机配置</h3></div>
            <div class="panel-body">
                <!-- <form class="col-md-offset-1 form-inline" role="form"> -->
                <form class="form-inline" method="post" enctype="multipart/form-data" role="form" id="hostform">
                    {% csrf_token %}
                    <label class="control-label">主机组:</label>
                    <div class="form-group">
                        <div class="">
                            <select class="form-control" name='group'>
                                <option value="chredis">reids服务</option>
                                <option value="chdb">数据代理</option>
                                <option value="chmap">联机服务</option>
                                <option value="chelk">日志管理</option>
                                <option value="chmq">流水服务</option>
                            </select>
                        </div>
                    </div>

                    <label class="col-md-offset-1 control-label">主机IP:</label>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="127.0.0.1" name="addip">
                    </div>

                    <button type="button" class="col-md-offset-4 btn btn-primary " id="hostbutton">添加</button>
                </form>

            </div>

            <div class=" alert alert-danger alert-dismissible" id="message_wg" role="alert" hidden="hidden">
                {#                        <div class=" alert alert-danger alert-dismissible" id="message_wg" role="alert" >#}
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <p id="message_p">
                <p>
            </div>
        </div>



    {#<p>请输入两个数字</p>#}
    {#<form action="/add/" method="get">#}
    {#    a: <input type="text" id="a" name="a"> <br>#}
    {#    b: <input type="text" id="b" name="b"> <br>#}
    {#    <p>result: <span id='result'></span></p>#}
    {#    <button type="button" id='sum'>提交</button>#}
    {#</form>#}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">主机列表</h3>
            </div>
            <div class="panel-body">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="radio" style="font-size:16px;font-weight: 700;margin-left:10px;" id="all">全部
                    </label>
                    {% for group_key in all_groups %}
                        <label class="btn btn-primary">
                            <input type="radio" style="font-size:16px;font-weight: 700;margin-left:10px;"
                                   id="{{ group_key.group }}">{{ group_key.group }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <form class="form-horizontal form-border" method="post" name="dm_form" enctype="multipart/form-data">

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <td type="text">选项</td>
                            <td type="text">主机IP</td>
                        </tr>
                        {% for host in all_hosts %}
                            <tr>
                                <td><input type="checkbox" name="isSelect" value="1"/></td>
                                <td>
                                    <ul class="list-unstyled">
                                    <li name="dm_addip" value="{{ host.addip }}">
                                        <a href=""><strong>{{ host.addip }}</strong></a>
                                    </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-6 col-md-6">
                        <button type="submit" class="col-md-offset-8 btn btn-primary " name="submit1" id="hostbutton">
                            提交
                        </button>
                        <button type="reset" class=" btn btn-danger " id="">取消</button>
                    </div>
                </div>
            {% csrf_token %}
            </form>

        </div>
    </div>
</div>
{% endblock %}
{% block my_script %}
<script>

        $("#hostbutton").click(function(){
          console.log("xxxxxxxxxxxxxxxxxxx");
            $.ajax({
                //cache: false,
                type: "POST",
                url:"{% url 'Addip' %}",
                data:$("#hostform").serialize(),
                dataType:"json",
                cache:false,  
                async: false,
                success: function(data) {
                  console.log(data)
                  console.log(data.msg,data.recode)
                    if(data.recode == 'success'){
                        $("#hostform")[0].reset();
                        alert("数据添加成功")
                    }else if(data.recode == 'fail'){
                        $("#message_p").html(data.msg)
                        $("#message_wg").show();
                    }
                },
                error:function(data){
                  console.log(data)

                }
            });
        });

        function changeValue() {
            //清空名dm_form的form的内容
            $("form[name=dm_form]").empty()
            //获取名称为isSelect的所有checkbox
            var check = $(input[name=isSelect]);
            var dm_addip = document.getElementsByName("dm_addip")
            var i=0;
            var str="";
            //循环每条记录
            check.each({
                //选出checkbox为选中状态
                if($(this).attr("checked")==true){
                    //将每个参数都添加到db_form
                    str += "<ul><li name='dm_addip' value='"+name[i].value+"'></li></ul>";
                    $("form[name=dm_addip]").append(str);
                }
                i++;
            });
             $("form[name=dm_addip]").submit();
        }



</script>


{% endblock %}
