{% extends 'base.html' %}
{% block title %}主机配置管理{% endblock %}

{% block right %}
<script type="text/javascript">
  $(document).ready(function(){
      if($("#message_p").html()){
        $("#message_wg").show();
      }
  });
</script>
<div class="king-layout6-content">
        <div class="col-md-9  col-md-offset-1">
                <div class="panel panel-primary">
                        <div class="panel-heading">添加主机配置</div>
                        <div class="panel-body">
                                <!-- <form class="col-md-offset-1 form-inline" role="form"> -->
                                <form  class="form-inline" role="form" id="hostform">
                                  <label class="control-label">主机组:</label>
                                  <div class="form-group">
                                    <div class="">
                                      <select class="form-control" name='group'>
                                        <option>chredis</option>
                                        <option>chdb</option>
                                        <option>chmap</option>
                                        <option>chelk</option>
                                        <option>chmq</option>
                                      </select>
                                    </div>
                                  </div>

                      <label class="col-md-offset-1 control-label">主机IP:</label>
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="127.0.0.1" name="addip">
                      </div>

                  <button type="button" class="col-md-offset-4 btn btn-primary " id="hostbutton">添加</button>
          </form>

    </div>
        <div class=" alert alert-danger alert-dismissible" id="message_wg" role="alert" hidden="hidden">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p id="message_p" ><p>

     
  </div>
</div>
<div>
</div>
{% endblock %}
{% block my_script %}
<script>
      $(function(){
        $('#hostbutton').on('click', function(){
            $.ajax({
                cache: false,
                type: "POST",
                url:"/addip/",
                data:$('#hostform').serialize(),
                async: true,
                success: function(data) {
                    if(data.status == 'success'){
                        $('#hostform')[0].reset();
                        alert("数据添加成功")
                    }else if(data.status == 'fail'){
                        $('#message_p').html(data.msg)
                    }
                },
            });
        });
    })  
</script>

{% endblock %}
